<peps-slider
	[items]="itemsSlider"
></peps-slider>
<div class="flex flex-col">

	<div class="relative w-full -top-20 xs:-top-26 sm:-top-28 md:-top-30 lg:-top-32 xl:-top-36 2xl:-top-48 3xl:-top-56 pointer-events-none">
		<div class="relative">
			<div class="relative w-screen h-fit ">
				<img src="/assets/images/background_roster_homepage.png" alt="" class="absolute object-cover object-top w-full max-w-none h-[500px] xs:h-[600px] sm:h-[700px] md:h-[850px] 2xl:h-[950px] 3xl:h-[1500px]">
			</div>
			<div class="relative flex flex-col gap-8 md:items-center pt-30">
				<img src="/assets/images/title.svg" alt="" class="w-3/4 md:w-2/4 lg:w-2/5 xl:w-2/6 2xl:w-1/5 ml-4 3xl:translate-y-20">
				<peps-max-button class="pointer-events-auto z-20 3xl:translate-y-20"></peps-max-button>
			</div>
		</div>
	</div>

	<div class="flex flex-col gap-16 justify-center -translate-y-5 3xl:-translate-y-20">
		<div class="flex flex-col md:flex-row justify-around items-center gap-4">
			<peps-title
				subtitle="Prochains"
				title="Matchs"
			></peps-title>
			<div class="border border-peps-dark-600 flex flex-col gap-2 py-3 px-6">
				<span class="text-base tracking-tight text-center font-dinpro-medium">FILTRES</span>
				<div class="flex flex-row gap-2 items-center justify-center">
					<peps-checkbox
						[checked]="selectedGames.includes(Game.OVERWATCH)"
						(onCheckChange)="toggleGame(Game.OVERWATCH, $event)"
						image="assets/icons/Overwatch_2_logo.svg"
					></peps-checkbox>
					<peps-checkbox
						[checked]="selectedGames.includes(Game.MARVEL_RIVALS)"
						(onCheckChange)="toggleGame(Game.MARVEL_RIVALS, $event)"
						image="assets/icons/Marvel_Rivals_logo.svg"
					></peps-checkbox>
				</div>
			</div>
		</div>
		<peps-upcoming-matchs
			[matches]="filteredMatches"
		></peps-upcoming-matchs>

		<div class="flex flex-col gap-10">
			<div class="flex flex-col md:flex-row justify-around items-center gap-4">
				<peps-title
					subtitle="Les"
					title="Actus"
				></peps-title>
				<span class="invisible sm:visible"></span>
			</div>

			<div class="flex flex-row gap-12 justify-center items-center flex-wrap">
				@for(article of articles; track article.id) {
					<peps-news-card
						[article]="article"
					></peps-news-card>
				}
			</div>

		</div>

		<div class="flex justify-center">
			<peps-button
				text="Tout voir"
				link="news"
			></peps-button>
		</div>
	</div>

</div>
