<div class="flex justify-center md:justify-start">
	<div class="bg-[url(/assets/icons/title_image.svg)] bg-no-repeat w-32 h-36 flex flex-col items-center justify-center md:items-start">
		@if(subtitle) {
			<h2 class="text-5xl z-30 text-left text-nowrap md:translate-x-8">{{ subtitle | uppercase }}</h2>
			<h1 class="text-8xl z-30 text-left text-nowrap md:translate-x-8">{{ title | uppercase }}</h1>
		} @else {
			<h1 class="text-8xl z-30 text-left text-nowrap md:translate-x-8">{{ title | uppercase }}</h1>
		}
	</div>
</div>
