<div class="flex flex-row w-full justify-between">
	<button (click)="toOverwatch()" class="cursor-pointer hover:-translate-y-3 translate-x-3 transition duration-300">
		<img src="/assets/images/max_button_overwatch.png" alt="Max button Overwatch" class="3xl:w-[800px]">
	</button>
	<button (click)="toMarvelRivals()" class="cursor-pointer -translate-x-3 -translate-y-10 hover:-translate-y-13 transition duration-300">
		<img src="/assets/images/max_button_marvel_rivals.png" alt="Max button Marvel Rivals" class="3xl:w-[800px]">
	</button>
</div>
