<div class="flex flex-row w-full justify-between gap-y-20">
	<div class="relative group cursor-pointer mx-auto translate-y-10" (click)="toOverwatch()">
		<img src="/assets/images/max_button_overwatch_background.png" alt=""
			 class="transition transform duration-300 absolute top-0 z-[-999] scale-[102%] group-hover:brightness-200 group-hover:-translate-y-5 translate-y-4 translate-x-0.5" />

		<img src="/assets/images/max_button_overwatch_foreground.png" alt=""
			 class="transition transform duration-300 z-10 group-hover:brightness-50 group-hover:-translate-y-11"/>

		<img src="/assets/images/max_button_overwatch_2_logo.png" alt=""
			 class="absolute left-1/2 top-1/2
			  -translate-x-[50%] -translate-y-[90%] h-32
			  md:h-auto md:-translate-x-[55%] md:-translate-y-[100%]">

		<svg width="198" height="300" viewBox="0 0 198 300" fill="none" xmlns="http://www.w3.org/2000/svg"
			 class="absolute transition-transform transform duration-300 hidden md:block
			   top-25 group-hover:-translate-y-12 group-hover:-translate-x-3">
			<path d="M198 297.5L109 265.5L111 268.5L195.5 299.5L198 297.5Z" fill="#F9ECEA"/>
			<path d="M31.5 88L0 34L37 0.5L60 34L31.5 64L40 79.5L31.5 88Z" fill="#F9ECEA"/>
			<path d="M57.5 138L37 99.5L42 95L60 131L57.5 138Z" fill="#F9ECEA"/>
		</svg>

		<svg width="49" height="65" viewBox="0 0 49 65" fill="none" xmlns="http://www.w3.org/2000/svg"
			 class="absolute transition-transform transform duration-300 hidden md:block
			 top-62 sm:left-1 group-hover:-translate-x-5 group-hover:-translate-y-5">
			<path d="M8.5 0L48.5 64.5L33.5 58.5L0 8L8.5 0Z" fill="#F9ECEA"/>
		</svg>

		<svg width="42" height="153" viewBox="0 0 42 153" fill="none" xmlns="http://www.w3.org/2000/svg"
			 class="absolute transition-transform transform duration-300 hidden md:block
			 -top-4 translate-x-[360px] group-hover:-translate-y-22 group-hover:translate-x-[355px]">
			<path d="M42 153L17 4.5L0 0L31.5 137L42 153Z" fill="#F9ECEA"/>
		</svg>
	</div>
	<div class="relative group cursor-pointer mx-auto " (click)="toMarvelRivals()">
		<img src="/assets/images/max_button_marvel_rivals_background.png" alt=""
			 class="transition transform duration-300 absolute top-0 z-[-999] scale-[102%] group-hover:brightness-200 group-hover:-translate-y-12 -translate-y-2 -translate-x-1" />

		<img src="/assets/images/max_button_marvel_rivals_foreground.png" alt=""
			 class="transition transform duration-300 z-10 group-hover:brightness-50 group-hover:-translate-y-8"/>

		<img src="/assets/images/max_button_marvel_rivals_logo.png" alt=""
			 class="absolute left-1/2 top-1/2
			  -translate-x-[50%] -translate-y-[90%] h-32
			  md:h-auto md:-translate-x-[45%] md:-translate-y-[50%]">

		<svg width="149" height="60" viewBox="0 0 149 60" fill="none" xmlns="http://www.w3.org/2000/svg"
			class="absolute transition-transform transform duration-300 hidden md:block
			-bottom-3 left-16 group-hover:translate-x-3 group-hover:-translate-y-6">
			<path d="M36 38L148.5 0L131.5 10L36 39.5V38Z" fill="#F9ECEA"/>
			<path d="M4.5 59.5L0 15L20.5 26L15.5 55L4.5 59.5Z" fill="#F9ECEA"/>
		</svg>

		<svg width="34" height="128" viewBox="0 0 34 128" fill="none" xmlns="http://www.w3.org/2000/svg"
			class="absolute transition-transform transform duration-300 hidden md:block
			top-17 left-9 group-hover:-translate-x-2 group-hover:-translate-y-32">
			<path d="M0 0.5L11.5 116L23.5 128L19 67L33.5 48.5L29 0.5H0Z" fill="#F9ECEA"/>
		</svg>

		<svg width="31" height="71" viewBox="0 0 31 71" fill="none" xmlns="http://www.w3.org/2000/svg"
		class="absolute transition-transform transform duration-300 hidden md:block
		top-38 -right-2 group-hover:translate-x-5 group-hover:-translate-y-10">
			<path d="M0 51L19.5 0.5L30.5 28.5L12.5 71L0 51Z" fill="#F9ECEA"/>
		</svg>

	</div>
	<!--<button (click)="toMarvelRivals()" class="cursor-pointer -translate-x-3 -translate-y-10 hover:-translate-y-13 transition duration-300">
		<img src="/assets/images/max_button_marvel_rivals.png" alt="Max button Marvel Rivals" class="3xl:w-[800px]">
	</button>-->
</div>
